In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Gammaoui/Downloads/supply_chain_data.csv')

In [3]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [4]:
df.head(10)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
5,haircare,SKU5,1.699976,87,147,2828.348746,Non-binary,90,27,66,...,Bangalore,10,104,17,56.766476,Fail,2.779194,Road,Route A,235.461237
6,skincare,SKU6,4.078333,48,65,7823.476560,Male,11,15,58,...,Kolkata,14,314,24,1.085069,Pending,1.000911,Sea,Route A,134.369097
7,cosmetics,SKU7,42.958384,59,426,8496.103813,Female,93,17,11,...,Bangalore,22,564,1,99.466109,Fail,0.398177,Road,Route C,802.056312
8,cosmetics,SKU8,68.717597,78,150,7517.363211,Female,5,10,15,...,Mumbai,13,769,8,11.423027,Pending,2.709863,Sea,Route B,505.557134
9,skincare,SKU9,64.015733,35,980,4971.145988,Unknown,14,27,83,...,Chennai,29,963,23,47.957602,Pending,3.844614,Rail,Route B,995.929461

In [5]:
df['Customer demographics'].value_counts()

Customer demographics
Unknown       31
Female        25
Non-binary    23
Male          21
Name: count, dtype: int64

In [6]:
df.loc[df['Customer demographics'] == 'Non-binary', 'Customer demographics'] = 'Female'

In [7]:
df['Customer demographics'].value_counts()

Customer demographics
Female     48
Unknown    31
Male       21
Name: count, dtype: int64

In [8]:
df.loc[df['Customer demographics'] == 'Unknown', 'Customer demographics'] = 'Male'

In [9]:
df['Customer demographics'].value_counts()

Customer demographics
Male      52
Female    48
Name: count, dtype: int64

In [10]:
df['SKU'].value_counts()

SKU
SKU0     1
SKU1     1
SKU2     1
SKU3     1
SKU4     1
        ..
SKU95    1
SKU96    1
SKU97    1
SKU98    1
SKU99    1
Name: count, Length: 100, dtype: int64

In [11]:
df

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Female,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Male,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Female,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Female,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haircare,SKU95,77.903927,65,672,7386.363944,Male,15,14,26,...,Mumbai,18,450,26,58.890686,Pending,1.210882,Air,Route A,778.864241
96,cosmetics,SKU96,24.423131,29,324,7698.424766,Female,67,2,32,...,Mumbai,28,648,28,17.803756,Pending,3.872048,Road,Route A,188.742141
97,haircare,SKU97,3.526111,56,62,4370.916580,Male,46,19,4,...,Mumbai,10,535,13,65.765156,Fail,3.376238,Road,Route A,540.132423
98,skincare,SKU98,19.754605,43,913,8525.952560,Female,53,1,27,...,Chennai,28,581,9,5.604691,Pending,2.908122,Rail,Route A,882.198864
99,haircare,SKU99,68.517833,17,627,9185.185829,Male,55,8,59,...,Chennai,29,921,2,38.072899,Fail,0.346027,Rail,Route B,210.743009

In [12]:
import random
import string

In [13]:
random.seed(42)

In [14]:
sku_codes = []

In [15]:
letter = random.choice(string.ascii_uppercase)
numbers = ''.join([str(random.randint(0, 9)) for _ in range(5)])
sku_code = letter + numbers
print(f"Sample SKU: {sku_code}")

Sample SKU: U10433

In [16]:
for i in range(99):
    letter = random.choice(string.ascii_uppercase)
    numbers = ''.join([str(random.randint(0, 9)) for _ in range(5)])
    sku_code = letter + numbers
    sku_codes.append(sku_code)

In [17]:
print(f"Total SKU codes generated: {len(sku_codes)}")
print("First 10 SKU codes:")
for i in range(10):
    print(f"SKU{i+1} -> {sku_codes[i]}")

Total SKU codes generated: 99
First 10 SKU codes:
SKU1 -> E18196
SKU2 -> B01338
SKU3 -> T08386
SKU4 -> H79402
SKU5 -> W65423
SKU6 -> Y51161
SKU7 -> L59407
SKU8 -> R16184
SKU9 -> U95931
SKU10 -> B34131

In [18]:
df.columns

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

In [19]:
sku_mapping = {}
for i in range(99):
    old_sku = f"SKU{i+1}"
    new_sku = sku_codes[i]
    sku_mapping[old_sku] = new_sku


df['SKU'] = df['SKU'].replace(sku_mapping)

In [20]:
print("First 10 SKU values after replacement:")
print(df['SKU'].head(10))

First 10 SKU values after replacement:
0      SKU0
1    E18196
2    B01338
3    T08386
4    H79402
5    W65423
6    Y51161
7    L59407
8    R16184
9    U95931
Name: SKU, dtype: object

In [21]:
print("Unique SKU values in your data:")
print(df['SKU'].unique())

Unique SKU values in your data:
['SKU0' 'E18196' 'B01338' 'T08386' 'H79402' 'W65423' 'Y51161' 'L59407'
 'R16184' 'U95931' 'B34131' 'M47525' 'L34192' 'R32764' 'U83503' 'B56413'
 'S53767' 'E42388' 'I96965' 'H28710' 'D22691' 'M69784' 'R01845' 'D46270'
 'X48281' 'U48932' 'L28809' 'K70154' 'H03911' 'X71822' 'V78248' 'T63834'
 'M57871' 'H31509' 'R39301' 'W03105' 'C83473' 'R29973' 'Z76311' 'V65667'
 'X01065' 'Z13338' 'O26247' 'H17810' 'U80132' 'N77360' 'F60647' 'J68723'
 'J30980' 'X50097' 'Q82081' 'F19136' 'D93990' 'T16998' 'K43534' 'M24751'
 'A79911' 'R38425' 'C35427' 'R49808' 'J12411' 'X82449' 'G53487' 'I01640'
 'A52427' 'R68011' 'W28059' 'R26204' 'L05331' 'L86923' 'F26025' 'Z63421'
 'M07337' 'L43303' 'M54145' 'U86850' 'D42940' 'D96556' 'T81693' 'I06088'
 'V35615' 'T51484' 'V65648' 'E36629' 'S46804' 'J36995' 'O77387' 'Z21489'
 'K13433' 'E00379' 'Y17693' 'W67632' 'U01632' 'Z87083' 'D72788' 'T57986'
 'R72774' 'Y34873' 'I71434' 'K58122']

In [22]:
df['SKU'] = df['SKU'].replace('SKU0', sku_codes[0])

In [23]:
print("Check if SKU0 still exists:")
print('SKU0' in df['SKU'].values)
print(f"First few SKU values: {df['SKU'].head().tolist()}")

Check if SKU0 still exists:
False
First few SKU values: ['E18196', 'E18196', 'B01338', 'T08386', 'H79402']

In [24]:
df.to_csv('C:/Users/Gammaoui/Downloads/supply_chain_data.csv', index=False)

In [25]:
df.columns

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

In [26]:
print("Current supplier names:")
print(df['Supplier name'].value_counts())

Current supplier names:
Supplier name
Supplier 1    27
Supplier 2    22
Supplier 5    18
Supplier 4    18
Supplier 3    15
Name: count, dtype: int64

In [27]:
real_suppliers = [
    "Unilever Supply Chain",
    "Procter & Gamble Materials",
    "L'Oréal Ingredients",
    "Henkel Beauty Care",
    "Kao Corporation Supply"
]

In [28]:
supplier_mapping = {}
for i in range(1, 6):  # Supplier 1 to Supplier 5
    old_name = f"Supplier {i}"
    new_name = real_suppliers[i-1]
    supplier_mapping[old_name] = new_name
    print(f"{old_name} -> {new_name}")

Supplier 1 -> Unilever Supply Chain
Supplier 2 -> Procter & Gamble Materials
Supplier 3 -> L'Oréal Ingredients
Supplier 4 -> Henkel Beauty Care
Supplier 5 -> Kao Corporation Supply

In [29]:
df['Supplier name'] = df['Supplier name'].replace(supplier_mapping)

In [30]:
print("Updated supplier names:")
print(df['Supplier name'].value_counts())

Updated supplier names:
Supplier name
Unilever Supply Chain         27
Procter & Gamble Materials    22
Kao Corporation Supply        18
Henkel Beauty Care            18
L'Oréal Ingredients           15
Name: count, dtype: int64

In [31]:
df.to_csv('C:/Users/Gammaoui/Downloads/supply_chain_data.csv', index=False)

In [32]:
real_suppliers = [
    "Unilever",
    "Procter&Gamble",
    "LOreal",
    "Henkel Beauty",
    "Kao Corporation"
]

In [33]:
supplier_mapping = {}
for i in range(1, 6):  # Supplier 1 to Supplier 5
    old_name = f"Supplier {i}"
    new_name = real_suppliers[i-1]
    supplier_mapping[old_name] = new_name
    print(f"{old_name} -> {new_name}")

Supplier 1 -> Unilever
Supplier 2 -> Procter&Gamble
Supplier 3 -> LOreal
Supplier 4 -> Henkel Beauty
Supplier 5 -> Kao Corporation

In [34]:
df['Supplier name'] = df['Supplier name'].replace(supplier_mapping)

In [35]:
print("Updated supplier names:")
print(df['Supplier name'].value_counts())

Updated supplier names:
Supplier name
Unilever Supply Chain         27
Procter & Gamble Materials    22
Kao Corporation Supply        18
Henkel Beauty Care            18
L'Oréal Ingredients           15
Name: count, dtype: int64

In [36]:
df['Supplier name'] = df['Supplier name'].replace(supplier_mapping)

In [37]:
print("Updated supplier names:")
print(df['Supplier name'].value_counts())

Updated supplier names:
Supplier name
Unilever Supply Chain         27
Procter & Gamble Materials    22
Kao Corporation Supply        18
Henkel Beauty Care            18
L'Oréal Ingredients           15
Name: count, dtype: int64

In [38]:
df.to_csv('C:/Users/Gammaoui/Downloads/supply_chain_data.csv', index=False)

In [39]:
print("Current supplier names in dataframe:")
print(df['Supplier name'].unique())

Current supplier names in dataframe:
["L'Oréal Ingredients" 'Unilever Supply Chain' 'Kao Corporation Supply'
 'Henkel Beauty Care' 'Procter & Gamble Materials']

In [40]:
supplier_mapping = {
    "Unilever Supply Chain": "Unilever",
    "Procter & Gamble Materials": "Procter&Gamble", 
    "L'Oréal Ingredients": "LOreal",
    "Henkel Beauty Care": "Henkel Beauty",
    "Kao Corporation Supply": "Kao Corporation"
}
print("Mapping:")
for old, new in supplier_mapping.items():
    print(f"{old} -> {new}")

Mapping:
Unilever Supply Chain -> Unilever
Procter & Gamble Materials -> Procter&Gamble
L'Oréal Ingredients -> LOreal
Henkel Beauty Care -> Henkel Beauty
Kao Corporation Supply -> Kao Corporation

In [41]:
df['Supplier name'] = df['Supplier name'].replace(supplier_mapping)

In [42]:
print("Updated supplier names:")
print(df['Supplier name'].unique())

Updated supplier names:
['LOreal' 'Unilever' 'Kao Corporation' 'Henkel Beauty' 'Procter&Gamble']

In [44]:
df.to_csv('C:/Users/Gammaoui/Downloads/supply_chain_data.csv', index=False)

In [45]:
import os
print("Current directory:", os.getcwd())
print("Files in directory:", os.listdir('.'))

Current directory: C:\Users\Gammaoui
Files in directory: ['.anaconda', '.conda', '.condarc', '.continuum', '.docker', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.swt', '.virtual_documents', '.vscode', 'anaconda_projects', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'Links', 'Local Settings', 'Menu Démarrer', 'Mes documents', 'Microsoft', 'Modèles', 'Music', 'NOSUP.xlsx', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{cd9cb252-e738-11ef-963e-e2e345143276}.TM.blf', 'NTUSER.DAT{cd9cb252-e738-11ef-963e-e2e345143276}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{cd9cb252-e738-11ef-963e-e2e345143276}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'OneDrive - Emirates Logistics LLC', 'Oracle', 'Order_Expedites.sql', 'output_file.xlsx', 'Postman', 'PycharmProjects', 'Recent', 'REC_1LOT.sql', 'REC_1LOTC.sql', 'REC_PLUS1LOT.sql', 'Saved Games', 'Searches', 'SendTo', 'sql', 'Untitled.ipynb', 'Videos', "Voisinage d'impression", 'Voisinage réseau', 'webutil.WMSAPPSRV01.32.properties']